.contact-info a{
    text-transform: none;
    color: black;
}
.contact-info a:hover{
    text-decoration: none!important;
    font-size: 1.1rem;
}
.lead{
    text-align: left;
}
.about-page{
    display:flex;
    justify-content: space-between;
}