.jumbotron{
    background-color: rgba(137, 111, 155, 0.822);
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(180, 113, 25);
}
.display-4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.display-4::after{
    content: '.';
    font-size: 0px;
    height: 3px;
    width: 100%;
    display: block;
    margin: 0 auto;
    background: rgba(235, 234, 233, 0.678);
}
.lead{
    font-size: .8rem;
    text-align: left;
    padding: .1rem;
    font-family: Georgia, Times, 'Times New Roman', serif;
    border-bottom: 3px solid rgba(235, 234, 233, 0.678);margin-bottom: 1.25rem;
}
.contact-info a{
    text-transform: none;
    color: white;
    padding-bottom: .5rem;
}
.contact-info a:hover{
    text-decoration: none!important;
    font-size: 1.1rem;
}
.about-page{
    color: white;
    padding: 2%;
    margin-top:-4px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.contact-btn{
    background-color: rgb(73, 133, 58)!important;
}
@media(min-width: 768px){
    .lead{
        padding: 2rem;
        font-size: 1.1rem;
    }
    .jumbotron{
        width: 90%;
        margin-top: 2%;
    }
}
@media(min-width: 1024px){
    .lead{
        font-size: 1.25rem;
    }
    .jumbotron{
        width: 80%;
    }
}
