.footer-cr{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: .8rem;
    padding: .75rem 0 .75rem 2%;
    background-color: #264653ed;
    color: rgba(255, 255, 255, 0.87);
    
}
.footer-name{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 1%;
    margin-bottom: 0!important;
    
}