.home-container{
    position: relative;
    min-height: 100vh;
}

.img-container{
    height: 40vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 2px 15px rgb(34, 34, 34);
    background-position: center;
}
img{
    width: 100%;
    
}
.home-heading{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: rgba(137, 111, 155, 0.466);
    margin: 0;
    padding: .5rem;
    font-size: 1.1rem!important;
    text-transform: capitalize;
}
@media(min-width:768px){
    .home-heading{
        font-size: 2rem!important;
    }
}