.fa-leaf{
    color: chartreuse;
}
.navbar{
    background-color: #264653;
}
.navbar-nav{
    width: 100%;
}
.cart-container{
    display: flex;
    justify-content: flex-end;
    width: inherit;
}
.cart{
    color: #e76f51ec!important;
}
.cart:hover{
    
   color: #e76f51b2!important;
}
.nav-link{
    width: 100%;
}
.active{
    color: rgba(255,255,255,.5)!important;
}
.active:hover{
    color: rgba(255,255,255,.75)!important;
}
.active:focus{
    color: white!important;
}