.qp-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.qp-label{
    padding: 5px;
    margin-bottom: 0;
    background-color: whitesmoke;
}
