.qp-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.qp-label{
    margin: 0 .5rem!important;
    display: flex;
    align-items: center;
}

.btn-sm{
    background-color: #2A9D8F!important;
    color: white!important;
}

